.add-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid #61dafb;
    border-left: none;
    align-items: center;
    background-color: white;
    z-index: 1;
    max-width: 248px;
}

.description-textarea {
    font-size: 20px;
    resize: vertical;
    min-height: 40px;
    max-height: 200px;
    overflow: auto;
    border-radius: 3px;
    border: 1px solid rgb(66, 66, 66);
    width: 97%;
}

.info-block {
    padding: .4rem 0;
    min-width: 100%;
    text-align: center;
    border-radius: 4px;
}

.error {
    background-color: #ff8585;
    border: 1px solid #ff4040;
    color: white;
    margin: 0 0 1rem 0;
}

.success {
    margin: 1rem 0 0 0;
    border: 1px solid #3cdea2;
    background-color: #bafff2;
}

#textarea-label {
    width: 100%;
}

.add-form-label {
    margin-bottom: .5rem;
}

.save-btn {
    font-size: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    border-top: 2px solid #2cf5d9;
    border-bottom: 2px solid #2cf5d9;
    font-weight: bold;
    transition: 300ms;
    border-radius: 3px;
}

.save-btn:hover {
    background-color: #4edecb69;
}

.save-btn:active {
    border: 2px solid #2cf5d9;
    transition: none;
}

.form-wrapper {
    position: fixed;
    left: -280px;
    transition: 500ms;
}


.close-btn {
    display: inline;
    float: right;
    margin-right: .5rem;
    padding: 0 5px;
}

.close-btn:hover {
    background: antiquewhite;
    border-radius: 10px;
    cursor: pointer;

}
